@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #1e293b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f1f5f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: #fde68a;
    color: #1e293b;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
